.card {
  width: 310px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-title {
  font-size: 20px;
}
.book-author {
  font-size: 14px;
}
.status {
  font-size: 15px;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: var(--primary-color);
  color: #fff;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.manipulate button {
  margin-left: 5px;
  padding: 4px 8px;
  font-size: 12px;
}
.change-status{
  background-color: var(--primary-color);
  color: #fff;
  border: 2px;
  border-radius: 3px;
}
.delete-status{
  background-color: #fff;
  color: var(--primary-color);
  border: 2px;
  border-radius: 3px;
}