/* Resets */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
:root{
  --primary-color: #8e44ad;
  --primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
  cursor: pointer;
}